{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}


    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}

<div class="row">

    <h1>Create New User</h1>

    <div class="col-md-8">

        <form  role="form"  method="post">

            <div class="form-group">
                <label for="firstname">First Name</label>
                {% if firstname %}
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{ firstname }}" placeholder="First Name">
                {% else %}
                    <input type="text" class="form-control" id="firstname" name="firstname" value="" placeholder="First Name">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="lastname">Last Name</label>
                {% if lastname %}
                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}" placeholder="Last Name">
                {% else %}
                    <input type="text" class="form-control" id="lastname" name="lastname" value="" placeholder="Last Name">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                {% if email %}
                    <input type="email" class="form-control" id="email" name="email" value="{{ email }}" placeholder="Email">
                {% else %}
                    <input type="email" class="form-control" id="email" name="email" value="" placeholder="Email">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                {% if password %}
                    <input type="password" class="form-control" id="password" name="password" value="{{ password }}" placeholder="Password">
                {% else %}
                    <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
                {% endif %}
            </div>


            <div class="errorMsg">
                <ul class="error">
                    {% if errors %}
                        {% for invalidField, error in errors %}
                            <li ><span class="glyphicon glyphicon-exclamation-sign"></span> Please enter a valid {{ invalidField}}.</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="saveChanges">
                <button type="submit" class="btn btn-default" id="submitGameEdit">Save</button>
                <span>or</span>
                <a href="{{ path("admin_overview") }}?t=users" class="cancel">Cancel</a>
            </div>

        </form>

     </div>

</div>




{% endblock %}