<!DOCTYPE html>
<html lang="en">
  <head>
      <meta ver="1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Avnet TechGames</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/rockittechgames/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/rockittechgames/font-awesome-4.1.0/css/font-awesome.min.css') }}">

    <!-- Custom styles for this template -->
    <!-- <link href="{{ asset('bundles/rockittechgames/css/offcanvas.css') }}" rel="stylesheet"> -->

    <!-- Custom styles for this project -->
    <link href="{{ asset('bundles/rockittechgames/css/main.css') }}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  
    <div class="header">

        <h1 class="navbar-title"><a href="{{path('rock_it_techgames_homepage')}}">Avnet Tech Games</a><br><small>A College Student Technology Competition</small></h1>



        <img class="logo" src="{{ asset('bundles/rockittechgames/images/AVNET-INC-sRGB-150x53px.jpg') }}" />
        <img class="grad" src="{{ asset('bundles/rockittechgames/images/gradient.png') }}" />
        <img class="resize runningman" src="{{ asset('bundles/rockittechgames/images/man-medium-straight.png') }}" />


        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{path('rock_it_techgames_about')}}" class=" ">
                            <img src="{{ asset("bundles/rockittechgames/images/AboutAvnet_white_sRGB.png") }}" alt="about">
                            <span class="txt">About</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{path('rock_it_techgames_anouncements')}}" class="">
                                <img src="{{ asset("bundles/rockittechgames/images/AV_Publication_white_RGB.png") }}" alt="about">
                                <span class="txt">News</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{path('admin_overview')}}" class="">
                                <img src="{{ asset("bundles/rockittechgames/images/Expert_white_RGB.png") }}" alt="admin">
                                <span class="txt">Admin</span>
                            </a>
                        </li>
                        {% endif %}

                    </ul>

                    {%  if siteSettings.isRegistrationOpen == "True" %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if not isLoggedIn  %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Register <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form  class="navbar-form register" role="form" action="{{ path('register') }}" method="post">

                                    <div class="form-group input-group-lg">
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default pull-right">Register</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form  class="navbar-form signin" role="form" action="{{ path('login_check') }}" method="post">

                                    <div class="form-group input-group-lg">
                                        <input type="email" class="form-control" id="username" name="_username" placeholder="Enter email">
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default pull-right">Sign in</button>
                                    </div>
                                    <div class="form-group">
                                        <a href="#">Forgot your password?</a>
                                    </div>
                                    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                                </form>
                            </div>
                        </li>
                        {% else %}
                            <li>
                               <a href="#">{{app.user.username}}</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('logout') }}"  class="">Sign out</a> </li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>



    
    <div class="container main-container">
        {% block content %}{% endblock %}
    </div><!--/.container-->
    <hr>
    <footer>
        <div class="row">
            {#
            <div class="sponsor col-sm-4 col-lg-2 ">
                <a href="http://www.cisco.com/"><img src="{{ asset('bundles/rockittechgames/images/cisco.png') }}" alt="Cisco"></a>
            </div>
            <div class="sponsor col-sm-4 col-lg-2 ">
                <a href="http://www.dpair.com/"><img src="{{ asset('bundles/rockittechgames/images/dpair.jpg') }}" alt="DP Air Data Center Design"></a>
            </div>
            <div class="sponsor col-sm-4 col-lg-2 ">
                <a href="http://www.emc.com/"><img src="{{ asset('bundles/rockittechgames/images/emc.jpg') }}" alt="EMC - Leading Cloud Computing, Big Data, and Trusted IT Solutions"></a>
            </div>
            <div class="sponsor col-sm-4 col-lg-2 ">
                <a href="http://www.hp.com/"><img src="{{ asset('bundles/rockittechgames/images/hp.jpg') }}" alt="Hewlett-Packard, printers, desktops, laptops, servers, services, storage, enterprise solutions"></a>
            </div>
            <div class="sponsor col-sm-4 col-lg-2 ">
                <a href="http://jda.com"><img src="{{ asset('bundles/rockittechgames/images/jda.jpg') }}" alt="JDA Software Supply Chain Software, Supply Chain Management Software"></a>
            </div>
            #}


            <div class="sponsor col-sm-4 col-lg-6 ">
                <a href="http://jda.com"><img src="{{ asset('bundles/rockittechgames/images/jda.jpg') }}" alt="JDA Software Supply Chain Software, Supply Chain Management Software"></a>
            </div>
            <div class="sponsor scol-sm-4 scol-lg-6 ">
                <a href="http://phxrockit.com"><img src="{{ asset('bundles/rockittechgames/images/rockit.png') }}" alt="RockIT immersive 12-week web development bootcamp"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-centered">
                <div class="social clearfix">


                  <ul >
                      <li><a href="http://facebook.com/avnettechgames" target="_blank"><img src="{{ asset('bundles/rockittechgames/images/facebook_grey_sRGB.png') }}" alt="Facebook"></a></li>
                      <li><a href="http://twitter.com/avnettechgames" target="_blank"><img src="{{ asset('bundles/rockittechgames/images/twitter_grey_sRGB.png') }}" alt="Twitter"></a></li>
                      <li><a href="https://www.linkedin.com/groups/Avnet-Tech-Games-1768257" target="_blank"><img src="{{ asset('bundles/rockittechgames/images/LinkedIn_grey_sRGB.png') }}" alt="Twitter"></a></li>
                  </ul>
                </div>
            </div>
        </div>

        <nav class="navbar">
        
          <ul class="left">
              <li><a href="{{path('rock_it_techgames_about')}}">About</a></li>
              <li><a href="{{path('rock_it_techgames_newsroom')}}">Pressroom</a></li>
              <li><a href="{{path('sponsor_overview')}}">Sponsors</a></li>
              <li><a href="mailto:avnettechgames@avnet.com">Contact Us</a></li>
          </ul>

          <ul class="nav navbar-right">
              <li><img src="{{ asset('bundles/rockittechgames/images/Tagline_200x59px_sRGB.jpg') }}" alt="Accelerating Your Success"></li>
          </ul>


    </nav>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/rockittechgames/js/jquery-2.1.1.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/rockittechgames/js/tinymce/tinymce.min.js')}}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.editme",
            width:      '100%',
            height:     270,
            plugins:    [ "anchor link" ],
            statusbar:  false,
            menubar:    false,
            toolbar:    "bold italic underline  alignleft aligncenter alignright alignjustify  formatselect    bullist numlist outdent indent blockquote",
            rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
        });
    </script>

    <script src="{{ asset('bundles/rockittechgames/js/main.js')}}"></script>
    <script src="{{ asset('bundles/rockittechgames/js/bootstrap.min.js')}}"></script>


    <!--<script src="offcanvas.js"></script>-->
    {% block afterScripts %}{% endblock %}

  </body>
</html>
