{% extends 'RockITTechgamesBundle::layout.html.twig' %}

{% block content %}

<h1>Team {{team.getName()}}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="leftNav">
                <li><a href="{{path('team_edit', {'teamId':team.getTeamId()})}}?t=teamHome">Team Home</a></li>
                <li><a href="{{path('team_edit', {'teamId':team.getTeamId()})}}?t=mambers">Mambers</a></li>
                <li><a href="{{path('team_edit', {'teamId':team.getTeamId()})}}?t=Games">Games</a></li>
            </ul>
    </div>
    
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    
                     <input type="text" class="form-control" id="" name="" value="">
                     <button type="submit" class="btn pull-right" id="addTeamMamber">Add</button>
                </div>
            </form>
            <div class="row">
                    {% for member in team.getMembers() %}
                        <div class="p ol-md-6">
                            <a href="{{path('profile_detail', {'profileId':member.getProfileId()})}}"><img class="enter-block" data-src="{{ asset('bundles/rockittechgames/js/holder.js/90x90')}}" alt="90x90" class="img-rounded"></a>
                            <span ><a href="{{path('profile_detail', {'profileId':member.getProfileId()})}}">{{ member.getDisplayName() }}</a>
                            <button type="submit" class="btn pull-right" id="removeTeamMamber">Remove</button>
                            </span>
                        </div>
                    {% endfor %}
                    </div>
        </div> 
        
    </div>
</div>
{% endblock %}